.light header {
    background-image: url("./images/bg-mobile-light.jpg");
    color: white;
}

.light {
    background-color: hsl(236, 33%, 92%);
    color: black;
}

.light fieldset, .light #listContainer {
    background-color: hsl(0, 0%, 98%);
}

.light fieldset input {
    color: black;
}

.light .itemContainer {
    border-bottom-color: hsl(236, 33%, 92%);
}

.light #listContainer button {
    background-color: hsl(0, 0%, 98%);
}

.light p.checked {
    color: hsl(236, 9%, 61%);
}

.light #listControlsContainer {
    background-color: hsl(0, 0%, 98%);
}

.light #listControlsContainerMobile {
    background-color: hsl(0, 0%, 98%);
}

.light a {
    color: black;
}

@media screen and (min-width: 1281px){
    .light header {
        background-image: url("./images/bg-desktop-light.jpg");
    }
}